<%= form_with(model: local_record, local: true) do |form| %>
  <% if local_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local_record.errors.count, "error") %> prohibited this local_record from being saved:</h2>

      <ul>
        <% local_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
