<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_records.each do |local_record| %>
      <tr>
        <td><%= local_record.name %></td>
        <td><%= link_to 'Show', local_record %></td>
        <td><%= link_to 'Edit', edit_local_record_path(local_record) %></td>
        <td><%= link_to 'Destroy', local_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local Record', new_local_record_path %>
